@model work_with_multiple_table.Models.ViewModel.EmployeeDepartmentListView

@{
    ViewData["Title"] = "Index";
}




<div class="container">
    <div class="row">
        <div class="col-12">
        <h2 class="text-center p-2 border border-dark">Employee details &nbsp; &nbsp; </h2>
            <div class="text-lg-end p-2 ">
                <a class="btn btn-sm btn-outline-success m-1 p-1" asp-action="Create" asp-controller="Employee">Add Employee</a>

            </div>
            <table class="table table-bordered text-center p-2">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>EmployeeId</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                        <th>Department Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var d in Model.employees)
                    {
                        <tr>
                            <td>@d.EmployeeId</td>
                            <td>@d.name</td>
                            <td>@d.age</td>
                            <td>@d.gender</td>
                            <td>@d.DateofBirth</td>
                            <td>@d.Department.deptname </td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="" asp-controller="Employee" asp-route-id="@d.EmployeeId">Edit</a>
                                <a class="btn btn-sm btn-danger" asp-action="" asp-controller="Employee" asp-route-id="@d.EmployeeId">Delete</a>
                                <a class="btn btn-sm btn-secondary" asp-action="" asp-controller="Employee" asp-route-id="@d.EmployeeId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

